:root {
    --brand-light-color: #ff0000;
    --brand-dark-color: #ab0000;
    --background-color: #fff;
    --text-color: #3c374c;
    --h1-color: #878787;
    --filter-button-light-color: #e6e6e6;
    --filter-button-dark-color: #cecece;
    --symbol-color: #0177cc;
    --title-text-color: #191919;
}

body {
    font-family: "Montserrat", sans-serif;
}

.roboto-text {
    font-family: "Roboto", sans-serif;
    line-height: 19px;
}

h1 {
    font-size: 26px;
}


/* Grid Card Styling */

.gridCard {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    position: relative;
    text-align: start;
    /* align-items: flex-start; */
    width: auto;
    max-width: 220px;
    gap: 16px;
}

.gridCard a {
    color: var(--symbol-color);
    text-decoration: underline;
}

.gridCardImg {
    width: 100%;
    display: flex;
    justify-content: center;
}

.reducedPriceTag {
    position: absolute;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 800;
    align-items: center;
    top: 0;
    left: -4px;
    z-index: 10;
    background: var(--brand-light-color);
    padding: 8px;
    border-radius: 50% 50% 0 50%;
}

.gridCard .btn {
    align-self: stretch;
    background: var(--brand-light-color);
    color: white;
    outline: none;
    border: none;
    padding: 8px 16px;
    font-weight: 700;
    font-size: 18px;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.gridCard .btn:hover {
    background: var(--brand-dark-color);
}


/* -_- */

.searchBtn {
    background-color: var(--brand-light-color);
}


/* bookcard styling  */

.book-card {
    width: 80%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    border: 1px solid black;
}

.left-section {
    display: flex;
    width: 50%;
    gap: 10px;
    height: 90%;
}

.book-card img {
    width: 20%;
    height: 60%;
}

.book-card a {
    display: block;
}

.description .text {
    width: 80%;
}

.price {
    display: flex;
    width: 30%;
    height: 90%;
    justify-content: space-between;
    gap: 20px;
}

.btn-div {
    width: 50%;
}

.btn-div button {
    width: 100%;
    background-color: #f40202;
    height: 40px;
    color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-weight: bolder;
}


/* end */