:root {
  --brand-light-color: #ff0000;
  --brand-dark-color: #ab0000;
  --background-color: #fff;
  --text-color: #3c374c;
  --h1-color: #878787;
  --filter-button-light-color: #e6e6e6;
  --filter-button-dark-color: #cecece;
  --symbol-color: #0177cc;
  --title-text-color: #191919;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.roboto-text {
  font-family: "Roboto", sans-serif;
  line-height: 19px;
}

h1 {
  font-size: 26px;
}

/* Header Styling */

.upperbanner {
  background-color: var(--brand-light-color);
  text-align: center;
  padding: 16px 0px;
}

.white-link {
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
}

.wrapper {
  display: grid;
  grid-template-columns: 300px 840px;
  max-width: 1140px;
  margin: 0 auto;
  justify-content: center;
}

.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 400px;
  border: 1px solid grey;
  justify-content: center;
  text-align: center;
}

.hero h2 {
  align-self: center;
  margin: 0 auto;
  display: flex;
}

.sorting {
  display: flex;
  align-self: flex-end;
}

/* Grid Card Styling */
.gridCard {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  position: relative;
  text-align: start;
  /* align-items: flex-start; */
  width: auto;
  max-width: 220px;
  gap: 16px;
}

.gridCard a {
  color: var(--symbol-color);
  text-decoration: underline;
}

.gridCardImg {
  width: 100%;
  display: flex;
  justify-content: center;
}

.reducedPriceTag {
  position: absolute;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 800;
  align-items: center;
  top: 0;
  left: -4px;
  z-index: 10;
  background: var(--brand-light-color);
  padding: 8px;
  border-radius: 50% 50% 0 50%;
}

.gridCard .btn {
  align-self: stretch;
  background: var(--brand-light-color);
  color: white;
  outline: none;
  border: none;
  padding: 8px 16px;
  font-weight: 700;
  font-size: 18px;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.gridCard .btn:hover {
  background: var(--brand-dark-color);
}

/* -_- */
.searchBtn {
  background-color: var(--brand-light-color);
}

.side-menu {
  font-weight: 600;
}

.side-menu li {
  height: 47px;
}
