:root {
  --brand-light-color: #ff0000;
  --brand-dark-color: ;
  --background-color: #fff;
  --text-color: #3c374c;
  --h1-color: #878787;
  --filter-button-light-color: #e6e6e6;
  --filter-button-dark-color: #cecece;
  --symbol-color: #0177cc;
  --title-text-color: #191919;
}

body {
  font-family: "Montserrat", sans-serif;
}

.roboto-text {
  font-family: "Roboto", sans-serif;
  line-height: 19px;
}

h1 {
  font-size: 26px;
}

.searchBtn {
  background-color: var(--brand-light-color);
}

.side-menu {
  font-weight: 600;
}

.side-menu li {
  height: 47 px;
}
